image:    "rust:latest"
stages:
  - build

build_x86_64:
  stage:  build
  script:
    - apt-get update && apt-get install -y grub-efi-amd64-bin xorriso mtools
    - rustup default nightly
    - rustup target add x86_64-unknown-none
    - cargo xtask build x86_64 --release
  artifacts:
    paths:
      - bin/

build_aarch64:
  stage:  build
  script:
    - rustup default nightly
    - rustup target add aarch64-unknown-uefi
    - rustup target add aarch64-unknown-none-softfloat
    - cargo xtask build aarch64 --release
  artifacts:
    paths:
      - bin/

build_risv64:
  stage:  build
  script:
    - rustup default nightly
    - rustup target add riscv64imac-unknown-none-elf
    - rustup component add rust-src
    - cargo xtask build riscv64 --release
  artifacts:
    paths:
      - bin/
