[target.x86_64-unknown-none]
rustflags = [
    "-C", "link-arg=-Tconfig/x86_64/linkerscript.ld",
    "-C", "code-model=kernel",
    "-C", "relocation-model=dynamic-no-pic",
    "-C", "no-redzone=yes",
    "-C", "relro-level=partial",
]

[target.aarch64-unknown-none-softfloat]
rustflags = [
    "-C", "link-arg=-Tconfig/aarch64/linkerscript.ld",
    "-C", "relocation-model=pie",
    "-C", "code-model=large",
    "-C", "no-redzone=yes",
    "-C", "linker-plugin-lto=yes",
    "-C", "lto=yes",
    "-C", "relro-level=full",
]

[target.riscv64imac-unknown-none-elf]
rustflags = [
    "-C", "link-arg=-Tconfig/riscv64/linkerscript.ld",
    "-C", "code-model=large",
    "-C", "relocation-model=pie",
    "-C", "no-redzone=yes",
    "-C", "linker-plugin-lto=yes",
    "-C", "lto=yes",
    "-C", "relro-level=full",
]

[alias]
xtask = "run --package xtask --"
