set timeout=1
set default=0

function init_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

menuentry "Methylenix" {
    init_video
    multiboot2 /boot/kernel.elf
    if [ "${grub_platform}" = "efi" ]; then
        module2 /boot/grub/fonts/unicode.pf2 font.pf2
    fi
    boot
}
